.darkmodetoggle {
    position: absolute;
    top: 1.5rem;
    right: 10%;
}

/* From uiverse.io by @ke1221 */
button {
  background: transparent;
  border: none;
  cursor: pointer;
  i {
    font-size: 1.75rem;
    color: var(--light);
  }
  i:hover {
    color: var(--light-hover);
  }
 }
