.darkmodetoggle {
    position: absolute;
    top: 0;
    padding-top: 2rem;
    right: 10%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  i {
    font-size: 1.75rem;
    color: var(--light);
  }
  i:hover {
    color: var(--light-hover);
  }
 }

 @media only screen and (max-width: 80rem) {
   .darkmodetoggle {
     padding-top: 1.5rem;
     right: 5%;
   }
 }