footer {
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
  animation-name: fadeInleft;
  position: relative;
}

.iconContainer {
  position: absolute;
  bottom: 0%;
  right: 0%;
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: var(--Tertiary);
  padding: .5rem;
}

a:hover {
  color: var(--Accent);
}

@media only screen and (max-width: 40rem) {  
  .iconContainer {
    all: unset;
    position: bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

@keyframes fadeInleft {
  from {
      transform: translate3d(0,30px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}