@import 'variables.module.scss';

body {
  height: 100%;
  color: var(--Primary);
  background-color: var(--background);
  font-family: var(--font-family);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1rem;
}

h1 {
  font-weight: bold;
  position: inline;
  color: var(--Secondary);
}

h2, h3 {
  font-weight: bold;
  position: inline;
  color: var(--Tertiary);
}

.col1 {
  width: 35%;
  float: left;
  padding: 0.5rem;
  box-sizing: border-box;
}

.col2 {
  width: 65%;
  float: left;
  padding: 0.5rem;
  box-sizing: border-box;
}

.push {
  min-height: calc(100vh - 19rem);
}


.error {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 2.5rem;
}

.stickyContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background: var(--background);
  box-shadow:  0 40px 20px -20px var(--shadow);
  padding: 1.5rem;
  scroll-padding-block-end: 2rem;
}

/* responsivity */
@media only screen and (max-width: 100rem) {
  body {
    overflow-y: unset;
    padding-left: 5%;
    padding-right: 5%;
  }

  .col1, .col2 {
    width: 100%;
  }
}

@media only screen and (max-width: 55rem) {
  body {
    overflow-y: unset;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}