@import 'variables.module.scss';

body {
  height: 100%;
  color: var(--Primary);
  background-color: var(--background);
  font-family: var(--font-family);
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1rem;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-weight: bold;
  position: inline;
  color: var(--Secondary);
}

.col1 {
  width: 33.33%;
  float: left;
  padding: 0.5rem;
  box-sizing: border-box;
}

.col2 {
  width: 66.66%;
  float: left;
  padding: 0.5rem;
  box-sizing: border-box;
}

#error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 2.5rem;
}

/* responsivity */
@media only screen and (max-width: 100rem) {
  body {
    overflow-y: unset;
    padding-left: 5%;
    padding-right: 5%;
  }

  .col1, .col2 {
    width: 100%;
  }
}

@media only screen and (max-width: 55rem) {
  body {
    overflow-y: unset;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}