.padding {
  padding: 1rem;
}

.mobileHeading {
  display: none;
}

.inlineLink {
  color: var(--Quaternary);
  padding: 0;
  font-weight: bold;
  transition: color 0.5s;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  padding: 2rem;

  a {  
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    background: var(--background);
    box-shadow: 10px 10px 20px var(--shadow), -10px -10px 20px var(--highlight);
    background-color: var(--background);
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      color: var(--Accent);
      box-shadow: inset 5px 5px 10px var(--shadow), inset -5px -5px 10px var(--highlight);
      transform: translateY(1px);
    }
  }
}

.inlineCode {
  font-weight: bold;
  color: #EBDBB2;
  background-color: var(--codebox);
  padding: 0 0.2rem;
}

img {
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.caption {
  color: var(--Primary);
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
}

a.anchor {
  display: block;
  position: relative;
  top: -6rem;
  visibility: hidden;
}

@media only screen and (max-width: 65rem) {
  .mobileHeading {
    display: block;
    padding-top: 1rem;
  }

  .padding {
    display: none;
  }

  .title {
    animation-duration: 1s;
    animation-fill-mode: both;
    opacity: 0;
    animation-name: fadeInDown;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 50px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}