.player {
    animation-duration: 1s;
    animation-fill-mode: both;
    opacity: 0;
    animation-name: fadeInDown;

    border-radius: 20px;
    border: 3px solid var(--Tertiary);
    box-shadow:  20px 20px 60px var(--shadow),
            -20px -20px 60px var(--highlight);
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 50px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}