:root {
    --font-family: "Ubuntu", Helvetica, sans-serif;

    --Primary: #fff;
    --Secondary: #004D54;
    --Tertiary: #00B1C4;
    --Accent: #67FBD1;
    --background: #B6B2F0;

    --shadow: #9b97cc;
    --highlight: #d1cdff;
   
    --codebox: #ffffff86;
    --caption: #ffffffb9;

    --light: #ffffff;
    --light-hover: #F9F871;
}