:root {
    --font-family: "Ubuntu", Helvetica, sans-serif;

    --Primary: #fff;
    --Secondary: #fff;
    --Tertiary: #fff;
    --Accent: #fff;
    --background: #8FC3F7;

    --shadow: #fff;
    --highlight: #fff;
   
    --codebox: #ffffff86;
    --caption: #ffffffb9;

    --light: #ffffff;
    --light-hover: #F9F871;
}