:root {
  --font-family: 'Ubuntu', Helvetica, sans-serif;

  --Primary: #d6d2c4;
  --Secondary: #63807D;
  --Tertiary: #d6d2c4;
  --Quaternary: #FBF1CA;
  --Accent: #00755F;
  --background: #003b49;

  --shadow: #001f29;
  --highlight: #002939;

  --codebox: #2a2b28;

  --light: #d6d2c4;
  --light-hover: #F9F871;
}