:root {
  --font-family: 'Ubuntu', Helvetica, sans-serif;

  --Primary: #fff;
  --Secondary: #fff;
  --Tertiary: #fff;
  --Quaternary: #fff;
  --Accent: #fff;
  --background: #fff;

  --shadow: #fff;
  --highlight: #fff;

  --codebox: #2a2b28;

  --light: #ffffff;
  --light-hover: #fff;
}