.card {
    border-radius: 50px;
    background: var(--background);
    box-shadow:  20px 20px 60px var(--shadow),
                 -20px -20px 60px var(--highlight);
    padding: 1.5rem;
    margin: 1.5rem;
    box-sizing: border-box;
    p {
    white-space: pre-line;
    }
  }
  
  .card:hover {
    box-shadow:  20px 20px 60px var(--shadow-focus),
    -20px -20px 60px var(--highlight-focus);
  }
  
  .expanded {
    color: var(--Tertiary);
    white-space: pre-line;
  }
  
  .expanded:hover {
    color: var(--Accent);
    cursor: pointer;
  }