.card {
    border-radius: 50px;
    background: #B6B2F0;
    box-shadow:  20px 20px 60px #9b97cc,
                 -20px -20px 60px #d1cdff;
    padding: 1.5rem;
    margin: 1.5rem;
    box-sizing: border-box;
    p {
    white-space: pre-line;
    }
  }
  
  .card:hover {
    box-shadow:  20px 20px 60px #8986b4,
    -20px -20px 60px #e4dfff;
  }
  
  .expanded {
    color: #00B1C4;
    white-space: pre-line;
  }
  
  .expanded:hover {
    color: #67FBD1;
    cursor: pointer;
  }