@import '../../Styles/variables.module.scss';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
}
  
.navicon {
  display: none;
}

.navicon:hover {
  color: var(--Accent);
}

.navlink {
  color: var(--Tertiary);
  text-decoration: none;
  align-items: center;
  width: 100%;
  min-width: 45rem;
  height: 2rem;
  font-size: 1.75rem;
  font-weight: bold;
}

.navlink:hover {
  color: var(--Accent);
}

@media only screen and (max-width: 80rem) {
  nav{
    all: unset;
  }

  .navlink {
    display: none;
  }

  .navicon {
    display: inline;
    align-items: center;
    padding-right: 5%;
    width: 100%;
    height: 2rem;
    font-size: 1.75rem;
    font-weight: bold;
  }
}